# SPDX-FileCopyrightText: Copyright 2025 SAP SE or an SAP affiliate company
#
# SPDX-License-Identifier: Apache-2.0

.idea
bin
tmp
.edgerc
total_dns_requests.py
akamai_client.py
.vscode/settings.json
